<!doctype html>
<html> 
<div class="jumbotron center"  >

  		<h1>BIENVENIDO A VACUNASSIST</h1>

      		<p> <%= link_to "REGISTRARSE", new_user_registration_path , class: 'btn btn-default btn-lg' %>

     		<%= link_to "INICIAR SESION", new_user_session_path , class: 'btn btn-default btn-lg' %> </p>

</div>
</html> 

