<% if @user != :null%>
    <h1> <%= @user.nombre %><h1>
    <li>
        <p> email: <%= @user.email %> </p>
        <p> DNI: <%= @user.documento %> </p>
        <% if @user.de_riesgo %>
            <p> Paciente de riesgo </p>  
        <% else %>
            <p> No es paciente de riesgo </p>
        <% end %>
        <%= link_to("Editar Perfil", usuer_edit_path) %>
        <%= link_to("Inicio", home_index_path) %>
    </li>
<% else %>
    <%= flash[:error] = "El usuario no existe"%>
    <% render :home%>
<% end %> 