<!doctype html> 
<html>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to 'VACUNASSIST', root_path, class: 'navbar-brand' %> 
      
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "INICIO", root_path %></li>
	<li> <%= link_to "NOSOTROS", '#' %></li>
	
	<% if signed_in? %>
    		<li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li> 
    		<li><%= link_to "ver perfil", user_show_path %></li>
  	<% end %>
  	<!doctype html>
<html>        
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
   
</html>
