<!DOCTYPE html>
<html>
  <head>
    <title>VacunAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %> 
      
  

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class = "jumbotron center" >  
  	<%= yield %> 
    </div> 


</html> 
    
    
  </body>
</html>
